
# Local .terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude variable files containing secrets
#*.tfvars
*.tfvars.json

# Exclude plan output files
*.plan

# Exclude CLI configuration files
.terraformrc
terraform.rc
